/*w3schools, no date, How TO - Full Page Image, Available at: https://www.w3schools.com/howto/howto_css_full_page.asp (Accessed: 12/11/2025)*/
/*Background scaling image with window size/
/*------------------------------------------------------------------------------------*/
body,html{
    height: 100%;
    margin: 0;
}


#bg
{
    position: relative;
    background-image: url("tableEmpty.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
/*------------------------------------------------------------------------------------*/
.ballImages{
    display: flex;
    position: absolute;
    height: 7%;
    width: 7%;
}
#redButton{
    
    top:31.4%;
    left:66.2%
}
.reds{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    height: 36%;
    width: 14%;

}
 
.buttons{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    height:6%; 
    width:3%;
}
.balls{
    height:100%;
    width: 100%;
}
#whiteButton{
    top:46%;
    left:18%;
}
#blackButton{
    top: 46%;
    left: 80%;
}
#pinkButton{
    top: 46%;
    left: 63%;
}

#blueButton{
    top: 46%;
    left: 48.4%;
}

#greenButton{
    top: 32%;
    left: 26%;
}

#brownButton{
    top: 46%;
    left:26%
}

#yellowButton{
    top:60%;
    left: 26%;
}

#p1Board{
    top: 1%;
    left: 0%;

}
#p2Board{
    top: 1%;
    left: 87%;

}
.scoreboards{
    position: absolute;
    padding: 0;
    /*height: 12%;   
    width: 12%;*/
}
.scoreboardImages{
    height: 13vh;   
    width: 13vw; 
}
#player1Name{
    position: absolute;
    top:3.5vh;
    left:6.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1Text{
    font-size: 2.5vh;
}

#player1Hundred{
    position: absolute;
    top:9.5vh;
    left:2.8vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1HunText{
    font-size: 5vh;
}
#player1Ten{
    position: absolute;
    top:9.5vh;
    left:6.6vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1TenText{
    font-size: 5vh;
}

#player1Unit{
    position: absolute;
    top:9.5vh;
    left:10.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1UnitText{
    font-size: 5vh;
}

#player2Name{
    position: absolute;
    top:3.5vh;
    left:93.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2Text{
    font-size: 2.5vh;
}

#player2Hundred{
    position: absolute;
    top:9.5vh;
    left:89.8vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2HunText{
    font-size: 5vh;
}
#player2Ten{
    position: absolute;
    top:9.5vh;
    left:93.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2TenText{
    font-size: 5vh;
}

#player2Unit{
    position: absolute;
    top:9.5vh;
    left:97.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2UnitText{
    font-size: 5vh;
}


#playerSelection {
    position: absolute;
    top: 1vh;
    left:42vw;
    
}

#startText
{
    position: absolute;
    top:3vh;
    left:6.6vw;
    font-size: 4vmin;
    color:#000;
}

#playerTurn
{
    position:absolute;
    height:13vh;
    width:16vw;
}
 

.BallMenu
{
    background-color: #000;
    position: absolute;
    height: 50vh;
    width: 40vw;
    top:24vh;
    left:30vw;
}
#ballImagePopUp{
    position: absolute;
    height:26vh;
    width: 13vw;
    left:1vw;
    top:1vh;
}


.option1{
    position: absolute;
    top:5vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option2{
    position: absolute;
    top:15vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.option3{
    position: absolute;
    top:25vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.option4{
    position: absolute;
    top:35vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.back{
    font-size: 3vh;
    position: absolute;
    height: 4.5vh;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gameComplete
{
    background-color: #000;
    position: absolute;
    height:85vh;
    width:85vw;
    left:7.5vw;
    top:7.5vh;
}
#p1FinalBoard
{
    position: absolute;
    height:30vh;
    width:30vw;
    left:5vw;
    z-index: 0;
}
#p2FinalBoard
{
    position: absolute;
    height:30vh;
    width:30vw;
    top:53vh;
    left:50vw;
    z-index: 0;
}

#restartContainer
{
    position: relative;
    height:22vh; 
    width:24vw;
    top:39vh;
    left:42vw;
    transform: translate(-50%,-50%);
    
}



.scoreboardFinalImages
{
    height:100%;
    width:100%;
}
/*#player1FinalName
{
    position: absolute;
    transform: translate(-50%,-50%);

}
#player1FinalText{
    position: absolute;
    color: #000;
    font-size: 200%;
    z-index:1;
    top:-1vh;
    left:11vw;
}*/

#player1FinalName{
    position: absolute;
    top:6vh;
    left:20vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalText{
    font-size: 5vh;
}

#player1FinalUnit{
    position: absolute;
    top:20vh;
    left:29vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalUnitText{
    font-size: 10vh;
}

#player1FinalTen{
    position: absolute;
    top:20vh;
    left:20.2vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalTenText{
    font-size: 10vh;
}

#player1FinalHundred{
    position: absolute;
    top:20vh;
    left:11.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalHunText{
    font-size: 10vh;
}

#player2FinalName{
    position: absolute;
    top:59vh;
    left:65vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalText{
    font-size: 5vh;
}

#player2FinalUnit{
    position: absolute;
    top:73vh;
    
    left:74vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalUnitText{
    font-size: 10vh;
}

#player2FinalTen{
    position: absolute;
    top:73vh;
   
    left:65.3vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalTenText{
    font-size: 10vh;
}

#player2FinalHundred{
    position: absolute;
    top:73vh;
    left:56.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalHunText{
    font-size: 10vh;
}

#gameComplete
{
    position: relative;
    background-image: url("winScreen.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#restartButton
{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    height: 100%;
    width:100%;
}  
.restart
{
    height: 100%;
    width: 100%;
}
/*#player1Input
{
    position: absolute;
    height: 5vh;
    width:30vw;
    top:15vh;
    left:45vw;
    font-size: 3vmin;
}
#player1Label
{
    position: absolute;
    font-size: 4vmin;
    left:46vw;
    top:10vh;
}
#player2Input
{
    position: absolute;
    height: 5vh;
    width:30vw;
    top:70vh;
    left:15vw;
    font-size: 3vmin;
    text-align: right;
}
#player2Label
{
    position: absolute;
    font-size: 4vmin;
    left:17vw;
    top:65vh;
    text-align: right;
}*/

#nameInputContainer
{
    position: absolute;
    top:3%;
    left:45%;
    height: 25%;
    width:45%;
}

#player1Input
{
    position: relative;
    height: 30%;
    width:100%;
    font-size: 3vmin;
    background-color: transparent;
    color: black;
}

#player1Pass
{
    position: relative;
    height: 30%;
    width:100%;
    margin-top:5%;
    font-size: 3vmin;
    background-color: transparent;
    color: black;
}

#login1
{
    position: relative;
    height: 25%;
    width:45%;
    margin-top:5%;
    left:35%;
    font-size: 3vmin;
    background-color: transparent;
    color: black;
}

#nameInput2Container
{
    position: absolute;
    top:67%;
    left:12%;
    height: 25%;
    width:45%;
    text-align: right;
}

#player2Input
{
    position: relative;
    height: 30%;
    width:100%;
    font-size: 3vmin;
    text-align: right;
    background-color: transparent;
    color: black;
}

#player2Pass
{
    position: relative;
    height: 30%;
    width:100%;
    margin-top:5%;
    font-size: 3vmin;
    text-align: right;
    background-color: transparent;
    color: black;
}

#login2
{
    position: relative;
    height: 25%;
    width:45%;
    margin-top:5%;
    right:28%;
    font-size: 3vmin;
    background-color: transparent;
    color: black;
}

#startText
{
    position: relative;
    top:-17vh;
    left:0vw;
    text-align: center;
    color:#000;
}


.clipboardHolder
{
    position: absolute;
    left:-8vw;
    top:0vh;
    width: 90vw;
    height:84vh;
}

.clipboardHider
{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100%;
}

.clipImage
{
    position: relative;
    transform: translateX(-90%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
}

.clipboardHolder.showClipboard .clipImage
{
    transform: translateX(0%);
    
}
.clipboardButton
{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 80%;
    cursor: pointer;

}

.clipboardImg
{
    display: block;
    width: 90vw;
    height: 84vh;
}

.clipboardContent
{
    position: absolute;
    top: 11%;
    left: 5%;
    width: 85%;
    height: 78%;    
  
}


.clipboardHolderReverse
{
    position: absolute;
    left:3vw;
    top:0vh;
    width: 90vw;
    height:84vh;
}

.clipboardHiderReverse
{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100%;
}

.clipImageReverse
{
    position: relative;
    transform: translateX(90%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
}

.clipboardHolderReverse.showClipboardReverse .clipImageReverse
{
    transform: translateX(0%);
    
}
.clipboardButtonReverse
{
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 80%;
    cursor: pointer;
    

}

.clipboardImgReverse
{
    display: block;
    width: 90vw;
    height: 84vh;
}

.clipboardContentReverse
{
    position: absolute;
    top: 11%;
    left: 9%;
    width: 85%;
    height: 78%;
    
  
}



.matchHolder
{
    position: absolute;
    left:-3vw;
    top:0vh;
    width: 90vw;
    height:90vh;
    
}

.matchHider
{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100%;
}

.matchImage
{
    position: relative;
    transform: translateY(92%);
    transition: transform 1s ease;
    width: 100%;
    height: 100%;
}

.matchHolder.showMatch .matchImage
{
    transform: translateY(0%);
    
}
.matchButton
{
    position: absolute;
    left: 0%;
    top: 2%;
    /*transform: translateX(-50%);*/
    width: 100%;
    height: 14%;
    cursor: pointer;


}

.matchImg
{
    display: block;
    width: 90vw;
    height: 90vh;
}

.matchContent
{
    position: absolute;
    top: 2%;
    left: .5%;
    width: 99%;
    height: 96%;
    
  
}

#matchTitle
{
    font-size: 8vmin;
    font-weight: bold;
    position: relative;
    top:3%;
    margin: 0;
    text-align: center;
}




#player1ClipName
{
    font-size: 10vmin;
    font-weight: bold;
    position: relative;
    top:2%;
    margin: 0;
}

#player1ClipGames
{
    font-size: 5vmin;
    position: relative;
    top:7.5%;
    margin: 0;
}

#player1ClipWins
{
    font-size: 5vmin;
    position: relative;
    top:15%;
    margin: 0;
}

#player1ClipAverage
{
    font-size: 5vmin;
    position: relative;
    top:22.5%;
    margin: 0;
}

#player2ClipName
{
    font-size: 10vmin;
    font-weight: bold;
    position: relative;
    top:2%;
    margin: 0;
    text-align: right;
}

#player2ClipGames
{
    font-size: 5vmin;
    position: relative;
    top:7.5%;
    margin: 0;
    text-align: right;
}

#player2ClipWins
{
    font-size: 5vmin;
    position: relative;
    top:15%;
    margin: 0;
    text-align: right;
}

#player2ClipAverage
{
    font-size: 5vmin;
    position: relative;
    top:22.5%;
    margin: 0;
    text-align: right;
}



#player1RecentGames
{
    font-size: 6vmin;
    position: relative;
    top:-36%;
    left:50%;
    margin: 0;
}

#game1Name1{
    font-size: 4vmin;
    position: relative;
    top:-26%;
    left:70%;
    margin: 0;
}

#game1Score1{
    font-size: 4vmin;
    position: relative;
    top:-23%;
    left:70%;
    margin: 0;
}
#game1Winner1{
    font-size: 4vmin;
    position: relative;
    top:-20%;
    left:70%;
    margin: 0;

}


#game2Name1{
    font-size: 4vmin;
    position: relative;
    top:-9%;
    left:50%;
    margin: 0;

}

#game2Score1{
    font-size: 4vmin;
    position: relative;
    top:-6%;
    left:50%;
    margin: 0;

}
#game2Winner1{
    font-size: 4vmin;
    position: relative;
    top:-3%;
    left:50%;
    margin: 0;

}



#player2RecentGames
{
    font-size: 6vmin;
    position: relative;
    top:-36%;
    right:50%;
    margin: 0;
    text-align: right;
}

#game1Name2{
    font-size: 4vmin;
    position: relative;
    top:-26%;
    right:70%;
    margin: 0;
    text-align: right;
}

#game1Score2{
    font-size: 4vmin;
    position: relative;
    top:-23%;
    right:70%;
    margin: 0;
    text-align: right;
}
#game1Winner2{
    font-size: 4vmin;
    position: relative;
    top:-20%;
    right:70%;
    margin: 0;
    text-align: right;
}


#game2Name2{
    font-size: 4vmin;
    position: relative;
    top:-9%;
    right:50%;
    margin: 0;
    text-align: right;
}

#game2Score2{
    font-size: 4vmin;
    position: relative;
    top:-6%;
    right:50%;
    margin: 0;
    text-align: right;
}
#game2Winner2{
    font-size: 4vmin;
    position: relative;
    top:-3%;
    right:50%;
    margin: 0;
    text-align: right;
}
#signedIn
{
    position: absolute;
    top:3%;
    left:45%;
    height: 25%;
    width:45%;
    text-align: center;
    color: black;
}
#signedInText
{
    font-size: 4vmin;
    font-weight: bold;
}
#signOut1
{
    position: relative;
    height: 40%;
    width:30%;
    font-size: 2vmin;
    background-color: transparent;
    color: black;
    border-radius: 50%;
}

#signedIn2
{
    position: absolute;
    top:67%;
    left:12%;
    height: 25%;
    width:45%;
    text-align: center;
    color: black;
}
#signedInText2
{
    font-size: 4vmin;
    font-weight: bold;
}
#signOut2
{
    position: relative;
    height: 40%;
    width:30%;
    font-size: 2vmin;
    background-color: transparent;
    color: black;
    border-radius: 50%;
}

#match1
{
    position: relative;
    height: 33%;
    width: 28%;
    top:19%;
    left:14%;

}

#match1Players
{
    font-size: 3vmin;
    position: relative;
    top:3.5%;
    left:3%;
    margin: 0;
    text-align: center;
    width: 94%;
}
#match1Score
{
    font-size: 4vmin;
    position: relative;
    top:25%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match1Winner
{
    font-size: 4vmin;
    position: relative;
    top:37%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match2
{
    position: relative;
    height: 33%;
    width: 28%;
    top:-14%;
    left:58%;

}

#match2Players
{
    font-size: 3vmin;
    position: relative;
    top:3.5%;
    left:3%;
    margin: 0;
    text-align: center;
    width: 94%;
}
#match2Score
{
    font-size: 4vmin;
    position: relative;
    top:25%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match2Winner
{
    font-size: 4vmin;
    position: relative;
    top:37%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match3
{
    position: relative;
    height: 33%;
    width: 28%;
    top:-12%;
    left:14%;

}

#match3Players
{
    font-size: 3vmin;
    position: relative;
    top:3.5%;
    left:3%;
    margin: 0;
    text-align: center;
    width: 94%;
}
#match3Score
{
    font-size: 4vmin;
    position: relative;
    top:25%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match3Winner
{
    font-size: 4vmin;
    position: relative;
    top:37%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match4
{
    position: relative;
    height: 33%;
    width: 28%;
    top:-45%;
    left:58%;

}

#match4Players
{
    font-size: 3vmin;
    position: relative;
    top:3.5%;
    left:3%;
    margin: 0;
    text-align: center;
    width: 94%;
}
#match4Score
{
    font-size: 4vmin;
    position: relative;
    top:25%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#match4Winner
{
    font-size: 4vmin;
    position: relative;
    top:37%;
    left:3%;
    margin: 0;
    text-align: center;
    width:95%
}

#matchFilter
{
    position: absolute;
    height: 3.9%;
    width:24.9%;
    top:20.2%;
    left: 1.7%;
    
    font-size: 3vmin;

}