/*w3schools, no date, How TO - Full Page Image, Available at: https://www.w3schools.com/howto/howto_css_full_page.asp (Accessed: 12/11/2025)*/
/*Background scaling image with window size/
/*------------------------------------------------------------------------------------*/
body, html{
    height: 100%;
    margin: 0;
}

#bg
{
    position: relative;
    background-image: url("tableEmpty.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
/*------------------------------------------------------------------------------------*/
.ballImages{
    display: flex;
    position: absolute;
    height: 7%;
    width: 7%;
}
#redButton{
    
    top:31.4%;
    left:66.2%
}
.reds{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    height: 36%;
    width: 14%;

}
 
.buttons{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    height:6%; 
    width:3%;
}
.balls{
    height:100%;
    width: 100%;
}
#whiteButton{
    top:46%;
    left:18%;
}
#blackButton{
    top: 46%;
    left: 80%;
}
#pinkButton{
    top: 46%;
    left: 63%;
}

#blueButton{
    top: 46%;
    left: 48.4%;
}

#greenButton{
    top: 32%;
    left: 26%;
}

#brownButton{
    top: 46%;
    left:26%
}

#yellowButton{
    top:60%;
    left: 26%;
}

#p1Board{
    top: 1%;
    left: 0%;

}
#p2Board{
    top: 1%;
    left: 87%;

}
.scoreboards{
    position: absolute;
    padding: 0;
    /*height: 12%;   
    width: 12%;*/
}
.scoreboardImages{
    height: 13vh;   
    width: 13vw; 
}
#player1Name{
    position: absolute;
    top:3.5vh;
    left:6.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1Text{
    font-size: 2.5vh;
}

#player1Hundred{
    position: absolute;
    top:9.5vh;
    left:2.8vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1HunText{
    font-size: 5vh;
}
#player1Ten{
    position: absolute;
    top:9.5vh;
    left:6.6vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1TenText{
    font-size: 5vh;
}

#player1Unit{
    position: absolute;
    top:9.5vh;
    left:10.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1UnitText{
    font-size: 5vh;
}

#player2Name{
    position: absolute;
    top:3.5vh;
    left:93.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2Text{
    font-size: 2.5vh;
}

#player2Hundred{
    position: absolute;
    top:9.5vh;
    left:89.8vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2HunText{
    font-size: 5vh;
}
#player2Ten{
    position: absolute;
    top:9.5vh;
    left:93.7vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2TenText{
    font-size: 5vh;
}

#player2Unit{
    position: absolute;
    top:9.5vh;
    left:97.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2UnitText{
    font-size: 5vh;
}

#radioContainer{
    position: absolute;
    left:46vw;
    top:3.8vh;
}
.playerSelection {
    display: grid;
    position: absolute;
    top: 3vh;
    left:47vw;
}


  
.radio {
    position: relative;
    float: left;
    clear: left;
    display: block;
    padding-left: 3vw;
    margin-bottom: 2vh;
    font-family:"Arial";
    line-height: 3vh;
    font-size: 2vh;
    color:white;
    cursor: pointer;
}
.radio:before {
    background: #000;
    content: "";
    position: absolute;
    display: inline-block;
    top: -0.3vh;
    left: 0;
    width: 2vw;
    height: 4vh;
    border-radius: 100%; 
}
input[type="radio"] {
    display: none;
} 
input[type="radio"]:checked + label:before {
    background-color: #ff0000;   
    box-shadow: 0px 0px 0px 3px #000 inset;
}

.BallMenu
{
    background-color: #000;
    position: absolute;
    height: 50vh;
    width: 40vw;
    top:24vh;
    left:30vw;
}
#ballImagePopUp{
    position: absolute;
    height:26vh;
    width: 13vw;
    left:1vw;
    top:1vh;
}


.option1{
    position: absolute;
    top:5vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option2{
    position: absolute;
    top:15vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.option3{
    position: absolute;
    top:25vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.option4{
    position: absolute;
    top:35vh;
    left:15vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    justify-content: center;
    align-items: center;
}
.back{
    font-size: 3vh;
    position: absolute;
    height: 4.5vh;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gameComplete
{
    background-color: #000;
    position: absolute;
    height:85vh;
    width:85vw;
    left:7.5vw;
    top:7.5vh;
}
#p1FinalBoard
{
    position: absolute;
    height:30vh;
    width:30vw;
    left:5vw;
    z-index: 0;
}
#p2FinalBoard
{
    position: absolute;
    height:30vh;
    width:30vw;
    top:53vh;
    left:50vw;
    z-index: 0;
}

.scoreboardFinalImages
{
    height:100%;
    width:100%;
}
/*#player1FinalName
{
    position: absolute;
    transform: translate(-50%,-50%);

}
#player1FinalText{
    position: absolute;
    color: #000;
    font-size: 200%;
    z-index:1;
    top:-1vh;
    left:11vw;
}*/

#player1FinalName{
    position: absolute;
    top:6vh;
    left:20vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalText{
    font-size: 5vh;
}

#player1FinalUnit{
    position: absolute;
    top:20vh;
    left:29vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalUnitText{
    font-size: 10vh;
}

#player1FinalTen{
    position: absolute;
    top:20vh;
    left:20.2vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalTenText{
    font-size: 10vh;
}

#player1FinalHundred{
    position: absolute;
    top:20vh;
    left:11.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player1FinalHunText{
    font-size: 10vh;
}

#player2FinalName{
    position: absolute;
    top:59vh;
    left:65vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalText{
    font-size: 5vh;
}

#player2FinalUnit{
    position: absolute;
    top:73vh;
    
    left:74vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalUnitText{
    font-size: 10vh;
}

#player2FinalTen{
    position: absolute;
    top:73vh;
   
    left:65.3vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalTenText{
    font-size: 10vh;
}

#player2FinalHundred{
    position: absolute;
    top:73vh;
    left:56.5vw;
    transform: translate(-50%,-50%);
    color: black;
}
#player2FinalHunText{
    font-size: 10vh;
}

#gameComplete
{
    position: relative;
    background-image: url("winScreen.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
